body{
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.main-section{
    margin:0 auto;
    margin-top:5%;
}
.card{
	opacity: .95;
}
.card-body{
    background-color: #d1d3d6;
    box-shadow: 0px 0px 3px #848484;
}
label{
	font-weight: bold;
}
.nav-tabs .nav-item:nth-child(1) {
	margin-right: 2px;
}
.nav-tabs .nav-item a:not(.active){
	background-color: rgba(100,180,200,.5);
	color: 			rgba(255,255,255,.45);
	box-shadow: 	0px 0px 2px 4px rgba(20,50,80,.35) inset,
					0px 0px 1px 1px rgba(255,255,255,.35);
}
.nav-tabs .nav-item a.active{
	background-color: rgba(100,180,200,.75);
	color: 			  rgba(255,255,255,.75);
	box-shadow: 		0px 0px 1px 1px rgba(200,205,210,.75) inset,
						0px 0px 1px 2px rgba(200,205,210,.75);
	font-weight: 		bold;
}
.nav-tabs{
	border:			0px solid #000;
	padding-right: 2px;
}
.nav-tabs .nav-item {
	border:			0px solid #000;
}
.nav-link {
	min-width: 		120px;
	text-align: 	center;
}
.nav-tabs .nav-item, .nav-tabs .nav-item .nav-link {
	border:			0px solid #F00;
	border-radius: 	8px 8px 0px 0px;
}
#list, #form {
	transition: 		all .75s;
	-o-transition: 		all .75s;
	-moz-transition:	all .75s;
	-webkit-transition: all .75s;
}
input[type="reset"],
a.btn,
input[type="submit"],
.nav-tabs .nav-item a {
	min-width: 120px;
	transition: 		all .75s;
	-o-transition: 		all .75s;
	-moz-transition:	all .75s;
	-webkit-transition: all .75s;
}
input[type="reset"]:hover,
input[type="submit"]:hover,
a.btn:hover,
.nav-tabs .nav-item a:not(.active):hover {
	box-shadow: 0px 0px 12px 4px rgba(255,255,255,.5) inset,
				0px 0px 6px 2px rgba(0,0,0,.25);
	font-weight: bold;
	color: rgba(255,255,255,.85);
}
div.container, div.mx-auto, ul.nav, div.tab-content, div.tab-pane, div.card {
	background-color: transparent;
	border: 0px solid #000;
}
div.card-header, div.card-body {
	background-color: rgba(100,180,200,.85);
	border-radius: 	18px;
}
div.card-body {
	border-radius: 0px 0px 18px 18px;
	border: 1px solid rgba(255,255,255,.25);
	border-top: 0px solid rgba(255,255,255,.25);
}
div.card div.card-header {
	background-color: rgba(80,160,160,.75);
	border-radius: 	18px 0px 0px 0px;
	border: 1px solid rgba(255,255,255,.25);
	box-shadow: 0px 0px 1px 1px rgba(255,255,255,.25),
				0px 0px 12px 4px rgba(0,100,100,.5) inset;
	font-weight: bold;
	border-bottom: 0px solid rgba(255,255,255,.25);
}
div.card div.card-header h4 {
	color:			 rgba(0,0,0,.75);
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
div.table-responsive table.table th {
	background-color: rgba(80,140,140,.5);
	color:			 rgba(0,0,0,.75);
	text-transform: uppercase;
	box-shadow: 0px 0px 1px 1px rgba(255,255,255,.5),
				1px 1px 2px 1px rgba(0,100,100,.5);
	text-align: center;
	border: 0px solid rgba(255,255,255,.15);
}
div.table-responsive table.table tr td:last-child {
	text-align: center;
}
a i[class^="fas"] {
	background-color: rgba(255,160,160,.75);
	color:			 rgba(0,255,0,.75);
}
a, a:link, a:visited {
	color: rgba(0,100,150,.5);
	transition: 		all .75s;
	-o-transition: 		all .75s;
	-moz-transition:	all .75s;
	-webkit-transition: all .75s;
}
a:hover, a:link:hover, a:visited:hover {
	color: rgba(100,200,200,.95);
	font-weight: bold;
}